



.quatrinhphattrienducanh .text1{
color: var(--greyscaletext-50, #454545);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: 150%;
letter-spacing: -0.0625rem;
/* width: 46.625rem; */
}
.quatrinhphattrienducanh .text1_1{
color: var(--PRIMARY-40, #3468CD);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 1.875rem */
letter-spacing: -0.0625rem;
}
.quatrinhphattrienducanh .text1_1:nth-child(2){
margin-left: 0.2rem;
}












/* HOC SINH NỔI BẬT */
.slider-hocsinh{
    width: max-content;
    z-index: 100;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
@media (max-width: 767px) {
  .slider-hocsinh{
    padding-left:0rem;
  }
}
.slider-hocsinh .item {
    position: absolute;
    text-align: justify;
    object-fit: contain;
    border-radius: 2.5rem;
    margin-left: 23rem;
    transition: 0.5s;
    left: calc(50% - 6.875rem);
    z-index: 100;
    bottom: 0;
}
@media (max-width: 767px) {
  .slider-hocsinh .item{
    margin-left: 0rem;
    margin-left: -10rem;
  }
}
.slider-hocsinh #next, #prev{
    position: absolute;
    top: 10%;
    /* color: black; */
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 25rem;
}
.slider-hocsinh #next{
    left: unset;
    right: 25rem;
}





/* SIDEBAR BANNER HOMAPAGE */
.custom-transition {
  color: white;
  font-weight: bold;
  transition: opacity 0.5s cubic-bezier(0.01, 0.01, 0.01, 0.01);
  opacity: 0;
}

.custom-transition:hover {
  opacity: 1;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(1, 20.01, 1, 20.01);
}


@keyframes scaleInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3); 
    }
    100% {
        transform: scale(1);
    }
}
@keyframes scaleInOut2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3); 
    }
    100% {
        transform: scale(1);
    }
}
.circle {
    animation: scaleInOut 2s linear infinite;
}





.dichvu-popup {
  transform: scale(0.9);
  transition: scale 0.5s ease grid-template-rows 0.5s ease;
  grid-template-rows: 0fr;
}

.dichvu-popup.dichvu-popup-active {
  transform: scale(1);
  transition-duration: 1s;
  grid-template-rows: 1fr;
}



/* DỊCH VỤ ĐỨC ANH */
.dichvuducanh2:nth-child(1) .dichvuducanh3 > .dichvuducanh4{
  width: 7rem;
  left: 1.56rem;
  top: 0.7rem;
  @media (max-width: 767px) {
  left: 1.56rem;
  top: 1rem;
  }
}

@media (max-width: 767px) {
  .dichvuducanh2:nth-child(1) .dichvuducanh3 > .dichvuducanh4{
    left: 1.86rem;
    top: 1.5rem;
  }
}

.dichvuducanh2:nth-child(2) .dichvuducanh3 > .dichvuducanh4{
  left: 1.56rem;
  top: 1.5rem;
}
@media (max-width: 767px) {
  .dichvuducanh2:nth-child(2) .dichvuducanh3 > .dichvuducanh4{
    width: 5rem;
    left: 3.4rem;
    top: 1.5rem;
  }
}
/* --- trên web, dưới là mobi */
.dichvuducanh2:nth-child(3) .dichvuducanh3 > .dichvuducanh4{
  left: 1.8rem;
  top: 1.5rem;
}
.dichvuducanh div:nth-child(2) .dichvuducanh2:nth-child(1) .dichvuducanh4{
  left: 2.2rem;
  top: 2.2rem;
}
/* --- trên web, dưới là mobi */
.dichvuducanh2:nth-child(4) .dichvuducanh3 > .dichvuducanh4{
  left: 2.9rem;
  top: 1.5rem;
}
.dichvuducanh div:nth-child(2) .dichvuducanh2:nth-child(2) .dichvuducanh4{
  left: 3.2rem;
  top: 2.3rem;
}
/* --- */

.dichvuducanh2:nth-child(5) .dichvuducanh3 > .dichvuducanh4{
  width: 9rem;
  left: 0.6rem;
  top: 0.7rem;
}
.dichvuducanh div:nth-child(3) .dichvuducanh2:nth-child(1) .dichvuducanh4{
  width: 8.5rem;
  left: 1.6rem;
  top: 1.5rem;
}
/* --- */

 .dichvuducanh2:nth-child(6) .dichvuducanh3 > .dichvuducanh4{
  width: 9rem;
  left: 0.6rem;
  top: 0.7rem;
}
.dichvuducanh div:nth-child(3) .dichvuducanh2:nth-child(2) .dichvuducanh4{
  width: 8.5rem;
  left: 1.6rem;
  top: 1.5rem;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.marquee {
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 55s linear infinite;
}


