.content-wrapper {
    self-stretch: true;
    color: var(--greyscaletext-60);
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
}

.content-wrapper>h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--primary-50);
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
}

.content-wrapper>img {
    width: 100%;
    margin-top: 2rem;
}

.content-wrapper>ul {
    margin-top: 1rem;
}

.content-wrapper>br {
    display: block;
    content: "";
    margin-top: 1em;
}

.content-wrapper>ul>li {
    list-style-type: disc;
    margin-left: 1.5rem;
}

.content-wrapper>ul>li>em {
    color: var(--greyscaletext-60);
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
}

.content-wrapper>a {
    color: #2B46A8;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.content-wrapper>ul>li>strong {
    font-weight: bold;
}

.content-wrapper>ul>li>a {
    color: #2B46A8;
    text-decoration: underline;
}